{% extends "mysite/base.html" %}
{% block bootstrap4_content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
</div>
   
<p>
    <form method="post" enctype="multipart/form-data" action="{% url "confirm" intBank=intBank %}">
       {% csrf_token %}
       <div>
          {{ formset.management_form }}
            {% for value in formset %}
            <p>
                    {{value.as_table}}
                    <button style="margin-left: 10px;" class="create-item btn btn-primary" type="button" name="button"><i class="fa fa-plus-square"></i>Add item</button>
            </p>

            {% if value.ignoreTransaction.initial %}
              <p class="dup" >A similar entry already exits </p>
              {% else %}
              <br/>
            {% endif %}
            
             
            {% endfor %}
       </div>

      
       <input type="submit"/>
      
    </form>
</p>
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
      // Create book button
      $(".create-item").modalForm({formURL: "{% url 'create_item' %}"});
    });
  </script>

{% endblock %}

